#title {
    padding: 25px;
    text-align: center;
    background-color: black;
    color: white;
}

.row{
    margin:3px;
}


/* Phone edits*/
@media (max-width: 580px) {   

    .weather-dash{
        font-size: 30px;
    }
    /*font size change*/
     h1{
       font-size: 15px;
     }

     p{
         font-size: 10px;
     }

     h5, .card-header, .placeholder{
         font-size: 12px;
     }
     .card, .card-body{
         margin:1px;
         padding:1px;
     }
   
}